
        <div class="search-list-item-alt">
                                                <div class="owl-carousel owl-loaded owl-drag" data-owl-carousel="{&quot;items&quot;:1, &quot;loop&quot;:true, &quot;nav&quot;:true}">









                                                                                <div class="owl-stage-outer"><a href="/annonces/appartement-clichy-92110-r433901476" class="item-thumb-li
nk" onclick="ga('send','event','LISTE LOCATION','Consulter','Resume Visuel');"></a><div class="owl-stage" style="transform: translate3d(-1600px, 0px, 0px); transition: all 0s ease 0s; w
idth: 6080px;"><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; background-image: url(&quot;https://sta
tic.pap.fr/photos/D39/D39E1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39E1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39F1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39F1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39G1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39G1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39H1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39H1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39I1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39I1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item active" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39A1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39A1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39B1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39B1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39C1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39C1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39D1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39D1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39E1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39E1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39F1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39F1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39G1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39G1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39H1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39H1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: block; b
ackground-image: url(&quot;https://static.pap.fr/photos/D39/D39I1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                                        <img src="https://static.pap.fr/photos/D39/D39I1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39A1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39A1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39B1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39B1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39C1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39C1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39D1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39D1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div><div class="owl-item cloned" style="width: 320px;"><div class="img-liquid imgLiquid_bgSize imgLiquid_ready" style="display: b
lock; background-image: url(&quot;https://static.pap.fr/photos/D39/D39E1476.thumb.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">

                                                        <img src="https://static.pap.fr/photos/D39/D39E1476.thumb.jpg" alt="Clichy (92110)" style="display: none;">
                                                </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</sp
an></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active">
<span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span
></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></sp
an></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div><div class="owl-thumbs"></div></div>


                <a href="#dialog-enregistrer-email" class="btn-add-favorite tooltip tooltipstered" data-annonce="{&quot;id&quot;:433901476,&quot;active&quot;:false}">
                                <span class="icon icon-heart"></span>
                </a>

                                        <div class="item-tag">
                                <span>Annonce à la une</span>
                        </div>

                <div class="item-body">
                        <a class="item-title" href="/annonces/appartement-clichy-92110-r433901476" name="433901476" onclick="ga('send','event','LISTE LOCATION','Consulter','Resume Titre
');">
                                <span class="h1">Clichy (92110)
                                                                </span>
                                <ul class="item-tags">
                                                                                        <li>1 pièce</li>
                                                                                                <li>19 <small>m<sup>2</sup></small></li>
                                                                                </ul>
                                <span class="item-price">735&nbsp;€</span>
                        </a>

                        <p class="item-description" data-gaq="{&quot;category&quot;:&quot;LISTE LOCATION&quot;,&quot;action&quot;:&quot;Consulter&quot;,&quot;label&quot;:&quot;Resume De
scription&quot;}">
                                        Dans un immeuble récemment ravalé, au 1er étage ,
studio entièrement rénové, de 18,6 m² de préférence  pour une personne. Entrée, cuisine équipée et séjour exposition est-ouest, salle d'eau/wc, calme...                        </p>
                </div>
        </div>
